<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.gcsf.books.language.commands.category"
            name="Languages">
      </category>
      <command
            categoryId="com.gcsf.books.language.commands.category"
            id="com.gcsf.books.language.commands.language"
            name="Language">
         <commandParameter
               id="com.gcsf.books.language.locale"
               name="locale"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.gcsf.books.language.handlers.LanguageSwitchHandler"
            commandId="com.gcsf.books.language.commands.language">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:myToolsOperations?after=additions">
         <menu
               icon="resource/icons/other/locale.png"
               id="com.gcsf.books.language.menus.languages"
               label="%language"
               mnemonic="L">
            <command
                  commandId="com.gcsf.books.language.commands.language"
                  icon="resource/icons/flags/gb.gif"
                  id="com.gcsf.books.language.menus.english"
                  label="%english"
                  style="push">
               <parameter
                     name="com.gcsf.books.language.locale"
                     value="en">
               </parameter>
            </command>
            <command
                  commandId="com.gcsf.books.language.commands.language"
                  icon="resource/icons/flags/ro.gif"
                  id="com.gcsf.books.language.menus.romanian"
                  label="%romanian"
                  style="push">
               <parameter
                     name="com.gcsf.books.language.locale"
                     value="ro">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
