<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.DisplayHelpHandler"
            id="Books.helpCommand"
            name="Help">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:myHelpMenu?before=com.gcsf.books.separator.help">
         <command
               commandId="Books.helpCommand"
               icon="resource/icons/help_view.gif"
               label="%gettingstarted"
               style="push">
         </command>
         <command
               commandId="Books.helpCommand"
               icon="resource/icons/help.gif"
               label="%usermanual"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.gcsf.books.toolbar.help">
            <command
                  commandId="Books.helpCommand"
                  icon="resource/icons/help.gif"
                  style="push"
                  tooltip="%usermanual">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Books.helpCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.gcsf.books.acceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>

</plugin>
