<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=myEditMenu">
         <menu
               id="mySearchMenu"
               label="%search"
               mnemonic="S"
               tooltip="Search Related Operations">
            <command
                  commandId="com.gcsf.books.command.search.quickSearch"
                  icon="resource/icons/find.png"
                  label="%quicksearch"
                  style="push">
            </command>
            <separator
                  name="com.gcsf.books.search.separator.quicksearch"
                  visible="true">
            </separator>
            <menu
                  icon="resource/icons/edit-find-replace.png"
                  label="%setFilter">
               <command
                     commandId="Search.dummyCommand"
                     label="Short, unread books"
                     style="push">
               </command>
               <command
                     commandId="Search.dummyCommand"
                     label="Fantasy books from France and Italy"
                     style="push">
               </command>
               <separator
                     name="com.gcsf.books.search.separator.searchMenu.filterSeparator"
                     visible="true">
               </separator>
               <command
                     commandId="Search.dummyCommand"
                     label="Create/Modify filter(s) ..."
                     style="push">
               </command>
            </menu>
            <command
                  commandId="com.gcsf.books.command.search.filterOnOff"
                  icon="resource/icons/edit-find.png"
                  label="%activateFilter"
                  style="push">
            </command>
            <separator
                  name="com.gcsf.books.search.separator.filter"
                  visible="true">
            </separator>
            <dynamic
                  class="com.gcsf.books.search.handlers.CollectionSwitcherMenu"
                  id="com.gcsf.books.search.dynamic.collection.menu">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=com.gcsf.books.toolbar.help">
         <toolbar
               id="com.gcsf.books.toolbar.search">
            <dynamic
                  class="com.gcsf.books.search.handlers.ToolbarCollectionContributionItem"
                  id="com.gcsf.books.search.dynamic.collection">
            </dynamic>
            <separator
                  name="com.gcsf.books.search.toolbar.separator.incollectionstatus"
                  visible="true">
            </separator>
            <control
                  class="com.gcsf.books.search.handlers.SearchWorkbenchWindowControlContribution"
                  id="com.gcsf.books.search.control.searchText">
            </control>
            <dynamic
                  class="com.gcsf.books.search.handlers.FiltersContributionItem"
                  id="com.gcsf.books.search.dynamic.filters">
            </dynamic>
            <command
                  commandId="Search.dummyCommand"
                  icon="resource/icons/edit-find.png"
                  label="Filter On/Off"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands used in search operations"
            id="com.gcsf.books.commands.category.search"
            name="Search Category">
      </category>
      <command
            categoryId="com.gcsf.books.commands.category.search"
            defaultHandler="com.gcsf.books.search.handlers.QuickSearchHandler"
            id="com.gcsf.books.command.search.quickSearch"
            name="Quick Search">
      </command>
      <command
            categoryId="com.gcsf.books.commands.category.search"
            defaultHandler="com.gcsf.books.search.handlers.FilterOnOffHandler"
            id="com.gcsf.books.command.search.filterOnOff"
            name="Filter On/Off">
      </command>
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.RestartWorkbenchHandler"
            id="Search.dummyCommand"
            name="SearchDummy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.gcsf.books.command.search.quickSearch"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.gcsf.books.acceleratorConfiguration"
            sequence="CTRL+F">
      </key>
      <key
            commandId="com.gcsf.books.command.search.filterOnOff"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.gcsf.books.acceleratorConfiguration"
            sequence="CTRL+ALT+F">
      </key>
   </extension>
   <extension
         point="com.gcsf.books.filters.static.overimage">
      <decoratorImage
            class="com.gcsf.books.search.filters.ActiveFilterFakeProxy">
      </decoratorImage>
   </extension>
   <extension
         point="com.gcsf.books.filters.static.filtername">
      <filterName
            filterName="com.gcsf.books.search.filters.ActiveFilterFakeProxy"
            observable="com.gcsf.books.search.filters.ObservablePreferenceListener">
      </filterName>
   </extension>
   <extension
         point="com.gcsf.books.filters.static.observable">
      <observableFilter
            class="com.gcsf.books.search.filters.ObservablePreferenceListener"
            observable="com.gcsf.books.search.filters.ObservablePreferenceListener">
      </observableFilter>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.gcsf.books.search.preferences.SearchPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
