<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.gcsf.books.filters.static.overimage" name="com.gcsf.books.filters.static.overimage" schema="schema/com.gcsf.books.filters.static.overimage.exsd"/>
   <extension-point id="com.gcsf.books.filters.static.filtername" name="com.gcsf.books.filters.static.filtername" schema="schema/com.gcsf.books.filters.static.filtername.exsd"/>
   <extension-point id="com.gcsf.books.filters.static.observable" name="com.gcsf.books.filters.static.observable" schema="schema/com.gcsf.books.filters.static.observable.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.gcsf.books.BooksApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.gcsf.books.gui.views.FoldersView"
            icon="resource/icons/misc/folder-horizontal.png"
            id="com.gcsf.books.view.folders"
            name="Folders"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.gcsf.books.gui.views.BookDetailsView"
            icon="resource/icons/misc/application-text-image.png"
            id="com.gcsf.books.view.bookDetails"
            name="Book Details"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.gcsf.books.gui.views.ListView"
            icon="resource/icons/misc/application-list.png"
            id="com.gcsf.books.view.stack.list"
            name="List"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.gcsf.books.gui.views.ImagesView"
            icon="resource/icons/misc/images.png"
            id="com.gcsf.books.view.stack.images"
            name="Images"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.gcsf.books.gui.perspectives.PerspectiveHorizontalSplit"
            fixed="true"
            icon="resource/icons/perspectives/horizontalsplit.png"
            id="com.gcsf.books.perspective.layout.horizontalsplit"
            name="Horizontal Split">
      </perspective>
      <perspective
            class="com.gcsf.books.gui.perspectives.PerspectiveVerticalSplit"
            fixed="true"
            icon="resource/icons/perspectives/verticalsplit.png"
            id="com.gcsf.books.perspective.layout.verticalsplit"
            name="Vertical Split">
      </perspective>
      <perspective
            class="com.gcsf.books.gui.perspectives.PerspectiveFullWidthDetails"
            fixed="true"
            icon="resource/icons/perspectives/fullwidthdetails.png"
            id="com.gcsf.books.perspective.layout.fullwidthdetails"
            name="Full Width Details">
      </perspective>
      <perspective
            class="com.gcsf.books.gui.perspectives.PerspectiveFullHeightTree"
            fixed="true"
            icon="resource/icons/perspectives/fullheighttree.png"
            id="com.gcsf.books.perspective.layout.fullheighttree"
            name="Full Height Tree">
      </perspective>
      <perspective
            class="com.gcsf.books.gui.perspectives.PerspectiveFullHeightDetails"
            fixed="true"
            icon="resource/icons/perspectives/fullheightdetails.png"
            id="com.gcsf.books.perspective.layout.fullheightdetails"
            name="Full Height Details">
      </perspective>
      <perspective
            class="com.gcsf.books.gui.perspectives.PerspectiveSimpleLayout"
            fixed="true"
            icon="resource/icons/perspectives/simplelayout.png"
            id="com.gcsf.books.perspective.layout.simplelayout"
            name="Simple Layout">
      </perspective>
      <perspective
            class="com.gcsf.books.gui.perspectives.ErrorViewPerspective"
            fixed="true"
            id="com.gcsf.books.gui.perspectives.ErrorViewPerspective"
            name="ErrorViewPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands used in file operations"
            id="com.gcsf.books.commands.category.file"
            name="File Category">
      </category>
      <command
            categoryId="com.gcsf.books.commands.category.file"
            defaultHandler="com.gcsf.books.handlers.file.PrintHandler"
            id="com.gcsf.books.commands.print"
            name="Print">
      </command>
      <command
            categoryId="com.gcsf.books.commands.category.file"
            defaultHandler="com.gcsf.books.handlers.file.ExitHandler"
            id="com.gcsf.books.commands.exit"
            name="Exit">
      </command>
      <category
            description="Commands used in books operations"
            id="com.gcsf.books.commands.category.books"
            name="Book category">
      </category>
      <command
            categoryId="com.gcsf.books.commands.category.books"
            defaultHandler="com.gcsf.books.handlers.edit.EditBookHandler"
            id="com.gcsf.books.command.editBook"
            name="Edit Book">
      </command>
      <command
            categoryId="com.gcsf.books.commands.category.books"
            defaultHandler="com.gcsf.books.handlers.SelectRandomHandler"
            id="com.gcsf.books.command.selectRandom"
            name="Select Random">
      </command>
      <command
            categoryId="com.gcsf.books.commands.category.books"
            defaultHandler="com.gcsf.books.handlers.SelectAllHandler"
            id="com.gcsf.books.command.selectAll"
            name="Select All">
      </command>
      <command
            defaultHandler="com.gcsf.books.handlers.preference.MyShowPreferencePageHandler"
            id="com.gcsf.books.command.optionsCommand"
            name="Options Command">
      </command>
      <command
            defaultHandler="org.eclipse.ui.internal.about.AboutHandler"
            id="com.gcsf.books.command.aboutCommand"
            name="About Command">
      </command>
      <category
            description="Commands used in opening views and perspectives"
            id="com.gcsf.books.commands.category.open"
            name="Open Category">
      </category>
      <category
            id="com.gcsf.books.commands.category.tests"
            name="Tests Category">
      </category>
      <command
            categoryId="com.gcsf.books.commands.category.tests"
            defaultHandler="com.gcsf.books.handlers.DummyCommandHandler"
            id="Books.dummyCommand"
            name="Dummy Command">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="com.gcsf.books.commands.category.tests"
            defaultHandler="com.gcsf.books.handlers.preference.MyShowPreferencePageHandler2"
            id="com.gcsf.books.command.tabbed.optionsCommand"
            name="Tabbed Options">
      </command>
      <command
            defaultHandler="com.gcsf.books.handlers.view.IncreaseFontHandler"
            id="com.gcsf.books.command.increaseFont"
            name="Increase font size">
      </command>
      <command
            defaultHandler="com.gcsf.books.handlers.view.DecreaseFontHandler"
            id="com.gcsf.books.command.decreaseFont"
            name="Decrease Font Size">
      </command>
      <command
            defaultHandler="com.gcsf.books.handlers.view.ResetFontHandler"
            id="com.gcsf.books.command.resetFont"
            name="Reset Font Size">
      </command>
      <command
            defaultHandler="com.gcsf.books.handlers.view.CustomizeToolbarHandler"
            id="com.gcsf.books.command.customizeToolbar"
            name="Customize Toolbar">
      </command>
      <command
            defaultHandler="com.gcsf.books.handlers.help.ShowKeyBindingsHandler"
            id="com.gcsf.books.command.showKeyBindings"
            name="Show Key Bindings">
      </command>
      <command
            defaultHandler="com.gcsf.books.handlers.help.ExportLogFileHandler"
            id="com.gcsf.books.command.exportLogFile"
            name="Export log to file">
      </command>
      <command
            defaultHandler="com.gcsf.books.handlers.view.FoldersViewVisibilityHandler"
            id="com.gcsf.books.command.foldersViewVisibility"
            name="Folders View visibility">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="visibilityParameter"
               optional="false">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RadioState:true"
               id="org.eclipse.ui.commands.radioState">
         </state>
      </command>
      <command
            defaultHandler="com.gcsf.books.handlers.ColumnSetChooserHandler"
            id="com.gcsf.books.command.columnset.chooser"
            name="Choose Columns">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="myFileMenu"
               label="%file"
               mnemonic="F"
               tooltip="General File Operations">
            <command
                  commandId="com.gcsf.books.commands.print"
                  icon="resource/icons/print/print_edit.gif"
                  label="%print"
                  style="push">
            </command>
            <separator
                  name="com.gcsf.books.separator.print"
                  visible="true">
            </separator>
            <menu
                  icon="resource/icons/impex/import_wiz.gif"
                  label="Import from">
               <command
                     commandId="Books.dummyCommand"
                     icon="resource/icons/impex/import_wiz.gif"
                     label="Other repository"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     icon="resource/icons/impex/import_wiz.gif"
                     label="Text"
                     style="push">
               </command>
            </menu>
            <menu
                  icon="resource/icons/impex/export.gif"
                  label="Export to">
               <command
                     commandId="Books.dummyCommand"
                     label="Text ..."
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Html .."
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="XML ..."
                     style="push">
               </command>
            </menu>
            <separator
                  name="com.gcsf.books.separator.importexport"
                  visible="true">
            </separator>
            <command
                  commandId="com.gcsf.books.commands.exit"
                  label="%exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="myEditMenu"
               label="%edit"
               mnemonic="E"
               tooltip="Edit related operations">
            <command
                  commandId="Books.dummyCommand"
                  icon="resource/icons/book/book_add.png"
                  label="%addbook"
                  style="toggle">
            </command>
            <command
                  commandId="com.gcsf.books.command.editBook"
                  icon="resource/icons/book/book_edit.png"
                  label="%editbook"
                  style="push">
            </command>
            <separator
                  name="com.gcsf.books.separator.addedit"
                  visible="true">
            </separator>
            <command
                  commandId="Books.dummyCommand"
                  icon="resource/icons/book/book_delete.png"
                  label="%removebook"
                  style="toggle">
            </command>
            <separator
                  name="com.gcsf.books.separator.selectall"
                  visible="true">
            </separator>
            <command
                  commandId="com.gcsf.books.command.selectAll"
                  label="Select All"
                  style="push">
            </command>
         </menu>
         <menu
               id="myViewsMenu"
               label="%views"
               mnemonic="V"
               tooltip="View related operations">
            <menu
                  label="Folders">
               <command
                     commandId="Books.dummyCommand"
                     label="No Folders"
                     style="push">
               </command>
               <separator
                     name="com.gcsf.books.separator.noFolders"
                     visible="true">
               </separator>
               <command
                     commandId="Books.dummyCommand"
                     label="Author"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Author First Letter"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Author First Letter / Author"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Genre"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Series"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Format"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Publisher / Author"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Genre / Author"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Subject"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="Books.dummyCommand"
                  label="Show Empty Folders"
                  style="push">
            </command>
            <separator
                  name="com.gcsf.books.separator.folders"
                  visible="true">
            </separator>
            <dynamic
                  class="com.gcsf.books.contributions.ViewSwitcherMenu"
                  id="com.gcsf.books.dynamic.viewSwitcherMenu">
            </dynamic>
            <separator
                  name="com.gcsf.books.separator.listimages"
                  visible="true">
            </separator>
            <command
                  commandId="com.gcsf.books.command.foldersViewVisibility"
                  icon="resource/icons/book/book.png"
                  label="Book View"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="com.gcsf.books.command.foldersViewVisibility"
                  icon="resource/icons/misc/container_obj.gif"
                  label="Contents View"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="false">
               </parameter>
            </command>
            <separator
                  name="com.gcsf.books.separator9"
                  visible="true">
            </separator>
            <menu
                  icon="resource/icons/table/table_edit.png"
                  label="Columns">
               <command
                     commandId="Books.dummyCommand"
                     label="Just main book data"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="More book details"
                     style="push">
               </command>
               <separator
                     name="com.gcsf.books.separator5"
                     visible="true">
               </separator>
               <command
                     commandId="Books.dummyCommand"
                     label="Choose columns ..."
                     style="push">
               </command>
            </menu>
            <menu
                  icon="resource/icons/table/sort.gif"
                  label="Sort Order">
               <command
                     commandId="Books.dummyCommand"
                     label="Author / Year (desc)"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Author / Title"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Nr of Pages (desc)"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Purchase Date (desc)"
                     style="push">
               </command>
               <separator
                     name="com.gcsf.books.separator6"
                     visible="true">
               </separator>
               <command
                     commandId="com.gcsf.books.command.columnset.chooser"
                     label="Choose Sort Fields ..."
                     style="push">
               </command>
            </menu>
            <separator
                  name="com.gcsf.books.separator.ordercolumns"
                  visible="true">
            </separator>
            <menu
                  icon="resource/icons/misc/layout.png"
                  label="Details View Template">
               <menu
                     label="Collection 1">
                  <command
                        commandId="Books.dummyCommand"
                        label="Template 1_1"
                        style="push">
                  </command>
                  <command
                        commandId="Books.dummyCommand"
                        label="Template 1_2"
                        style="push">
                  </command>
               </menu>
               <menu
                     label="Collection 2">
                  <command
                        commandId="Books.dummyCommand"
                        label="Template 2_1"
                        style="push">
                  </command>
                  <command
                        commandId="Books.dummyCommand"
                        label="Template 2_2"
                        style="push">
                  </command>
               </menu>
            </menu>
            <menu
                  icon="resource/icons/toolbar/toolbar.gif"
                  label="Toolbar">
               <command
                     commandId="com.gcsf.books.command.customizeToolbar"
                     icon="resource/icons/toolbar/toolbar.gif"
                     label="Customize Toolbar"
                     style="push">
               </command>
               <separator
                     name="com.gcsf.books.separator.customizeToolbar"
                     visible="true">
               </separator>
               <command
                     commandId="Books.dummyCommand"
                     label="Reset"
                     style="push">
               </command>
            </menu>
            <dynamic
                  class="com.gcsf.books.contributions.PerspectiveSwitcherMenu"
                  id="com.gcsf.books.dynamic.perspectiveSwitcherMenu">
            </dynamic>
            <menu
                  icon="resource/icons/text/text_uppercase.png"
                  label="Change font size">
               <command
                     commandId="com.gcsf.books.command.increaseFont"
                     label="Larger font"
                     style="push">
               </command>
               <command
                     commandId="com.gcsf.books.command.decreaseFont"
                     label="Smaller font"
                     style="push">
               </command>
               <separator
                     name="com.gcsf.books.separator.fontChangeSeparator"
                     visible="true">
               </separator>
               <command
                     commandId="com.gcsf.books.command.resetFont"
                     label="Reset font size"
                     style="push">
               </command>
            </menu>
         </menu>
         <menu
               id="myToolsOperations"
               label="%tools"
               mnemonic="T"
               tooltip="Tools related operations">
            <command
                  commandId="Books.dummyCommand"
                  label="Edit Lists"
                  style="push">
            </command>
            <separator
                  name="com.gcsf.books.separator.statistics"
                  visible="true">
            </separator>
            <command
                  commandId="Books.dummyCommand"
                  icon="resource/icons/misc/graph2_16x16.gif"
                  label="%statistics"
                  style="push">
            </command>
            <menu
                  label="Maintenance">
               <command
                     commandId="Books.dummyCommand"
                     label="Update File Links"
                     style="push">
               </command>
               <command
                     commandId="Books.dummyCommand"
                     label="Repair Thumbnails"
                     style="push">
               </command>
            </menu>
            <separator
                  name="com.gcsf.books.separator.statistics"
                  visible="true">
            </separator>
            <command
                  commandId="com.gcsf.books.command.optionsCommand"
                  icon="resource/icons/misc/icon_settings.gif"
                  label="%options"
                  style="push">
            </command>
            <command
                  commandId="com.gcsf.books.command.tabbed.optionsCommand"
                  icon="resource/icons/misc/preferences-system.png"
                  label="Tabbed Options"
                  style="push">
            </command>
         </menu>
         <menu
               id="myHelpMenu"
               label="%help"
               mnemonic="H"
               tooltip="Help Related Operations">
            <separator
                  name="com.gcsf.books.separator.help">
            </separator>
            <dynamic
                  class="com.gcsf.books.contributions.HelpMenuCompoundContribution"
                  id="com.gcsf.books.dynamic.showKeyBindings">
            </dynamic>
            <separator
                  name="com.gcsf.books.separator.updatesCheck"
                  visible="true">
            </separator>
            <command
                  commandId="Books.dummyCommand"
                  label="Check for updates"
                  style="push">
            </command>
            <separator
                  name="com.gcsf.books.separator.preabout"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  label="Show Error View"
                  style="push">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="com.gcsf.books.gui.perspectives.ErrorViewPerspective">
               </parameter>
            </command>
            <separator
                  name="com.gcsf.books.separator.about"
                  visible="true">
            </separator>
            <command
                  commandId="com.gcsf.books.command.aboutCommand"
                  icon="resource/icons/about/info_tsk.gif"
                  label="%about"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.gcsf.books.toolbar.edit">
            <command
                  commandId="Books.dummyCommand"
                  icon="resource/icons/book/book_add.png"
                  style="push"
                  tooltip="%addbook">
            </command>
            <command
                  commandId="Books.dummyCommand"
                  icon="resource/icons/book/book_edit.png"
                  style="push"
                  tooltip="%editbook">
            </command>
            <command
                  commandId="Books.dummyCommand"
                  icon="resource/icons/book/book_delete.png"
                  style="push"
                  tooltip="%removebook">
            </command>
         </toolbar>
         <toolbar
               id="com.gcsf.books.toolbar.view">
            <command
                  commandId="com.gcsf.books.command.foldersViewVisibility"
                  icon="resource/icons/book/book.png"
                  label="Book View"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="com.gcsf.books.command.foldersViewVisibility"
                  icon="resource/icons/misc/container_obj.gif"
                  label="Content View"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="false">
               </parameter>
            </command>
            <separator
                  name="com.gcsf.books.separator1"
                  visible="true">
            </separator>
            <dynamic
                  class="com.gcsf.books.contributions.ColumnsContributionItem"
                  id="com.gcsf.books.dynamic.columns">
            </dynamic>
            <dynamic
                  class="com.gcsf.books.contributions.SortContributionItem"
                  id="com.gcsf.books.dynamic.sort">
            </dynamic>
            <dynamic
                  class="com.gcsf.books.contributions.ToolbarPerspectiveSwitcherMenu"
                  id="com.gcsf.books.dynamic.toolbar.perspectiveSwitcherMenu">
            </dynamic>
            <separator
                  name="com.gcsf.books.separator.viewToolbar.perspectiveSwitcherSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="Books.dummyCommand"
                  icon="resource/icons/print/print_edit.gif"
                  style="push"
                  tooltip="%print">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.gcsf.books.preferences.pages.GeneralPreferencesPage"
            id="com.gcsf.books.preferences.generalPreferencesPage"
            name="%general">
      </page>
      <page
            class="com.gcsf.books.preferences.pages.ImagesPreferencePage"
            id="com.gcsf.books.preferences.imagesPreferencePages"
            name="%prefImages">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.gcsf.books.preferences.BooksPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.gcsf.books.handlers.splash.BooksSplashHandler"
            id="com.gcsf.books.splashHandler">
      </splashHandler>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.gcsf.books.application"
            name="BiaApp">
         <property
               name="windowImages"
               value="platform:/plugin/com.gcsf.books.branding/icon16x16.gif,platform:/plugin/com.gcsf.books.branding/icon32x32.gif">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/com.gcsf.books.branding/product_logo.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="BiaApp">
         </property>
         <property
               name="startupForegroundColor"
               value="80FF80">
         </property>
         <property
               name="startupMessageRect"
               value="10,240,420,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,270,455,13">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
      </product>
   </extension>
   <extension
         point="com.gcsf.books.engine.engineStartup">
      <startup
            class="com.gcsf.books.BooksStartup"
            level="10">
      </startup>
   </extension>
   <extension
         point="com.gcsf.books.engine.engineApplication">
      <application
            class="com.gcsf.books.BooksApplication">
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.gcsf.books.command.optionsCommand"
            icon="resource/icons/misc/icon_settings.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            description="BIA Accelerator Configuration"
            id="com.gcsf.books.acceleratorConfiguration"
            name="com.gcsf.books.acceleratorConfiguration">
      </scheme>
      <key
            commandId="com.gcsf.books.commands.print"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.gcsf.books.acceleratorConfiguration"
            sequence="CTRL+P">
      </key>
      <key
            commandId="com.gcsf.books.command.editBook"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.gcsf.books.acceleratorConfiguration"
            sequence="CTRL+ENTER">
      </key>
      <key
            commandId="com.gcsf.books.command.selectAll"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.gcsf.books.acceleratorConfiguration"
            sequence="CTRL+A">
      </key>
      <key
            commandId="com.gcsf.books.command.selectRandom"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.gcsf.books.acceleratorConfiguration"
            sequence="CTRL+R">
      </key>
      <key
            commandId="com.gcsf.books.command.increaseFont"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.gcsf.books.acceleratorConfiguration"
            sequence="CTRL++">
      </key>
      <key
            commandId="com.gcsf.books.command.decreaseFont"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.gcsf.books.acceleratorConfiguration"
            sequence="CTRL+-">
      </key>
      <key
            commandId="com.gcsf.books.command.resetFont"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.gcsf.books.acceleratorConfiguration"
            sequence="CTRL+0">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.installationPages">
      <page
            class="com.gcsf.books.gui.bundles.BiaInstallationPage"
            id="10.com.gcsf.books.installationPage"
            name="Books Inventory Application">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.systemSummarySections">
      <section
            class="com.gcsf.books.gui.BiaSystemSummarySection"
            id="com.gcsf.books.summary.details"
            sectionTitle="BIA Details">
      </section>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.gcsf.books.perspective.layout.fullheighttree">
         <view
               closeable="false"
               id="com.gcsf.books.view.folders"
               minimized="false"
               ratio="0.20f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.list"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.images"
               minimized="false"
               relationship="stack"
               relative="com.gcsf.books.view.stack.list"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.bookDetails"
               minimized="false"
               ratio="0.55f"
               relationship="bottom"
               relative="com.gcsf.books.view.stack.list"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.gcsf.books.perspective.layout.fullheightdetails">
         <view
               closeable="false"
               id="com.gcsf.books.view.folders"
               minimized="false"
               ratio="0.50f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.list"
               minimized="false"
               ratio="0.35f"
               relationship="bottom"
               relative="com.gcsf.books.view.folders"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.images"
               minimized="false"
               relationship="stack"
               relative="com.gcsf.books.view.stack.list"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.bookDetails"
               minimized="false"
               ratio="0.50f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.gcsf.books.perspective.layout.fullwidthdetails">
         <view
               closeable="false"
               id="com.gcsf.books.view.folders"
               minimized="false"
               ratio="0.50f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.list"
               minimized="false"
               ratio="0.35f"
               relationship="right"
               relative="com.gcsf.books.view.folders"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.images"
               minimized="false"
               relationship="stack"
               relative="com.gcsf.books.view.stack.list"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.bookDetails"
               minimized="false"
               ratio="0.50f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.gcsf.books.perspective.layout.horizontalsplit">
         <view
               closeable="false"
               id="com.gcsf.books.view.folders"
               minimized="false"
               ratio="0.20f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.list"
               minimized="false"
               ratio="0.55f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.images"
               minimized="false"
               relationship="stack"
               relative="com.gcsf.books.view.stack.list"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.bookDetails"
               minimized="false"
               ratio="0.25f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.gcsf.books.perspective.layout.verticalsplit">
         <view
               closeable="false"
               id="com.gcsf.books.view.folders"
               minimized="false"
               ratio="0.20f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.list"
               minimized="false"
               ratio="0.55f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.images"
               minimized="false"
               relationship="stack"
               relative="com.gcsf.books.view.stack.list"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.bookDetails"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.gcsf.books.perspective.layout.simplelayout">
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.list"
               minimized="false"
               ratio="0.60f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.stack.images"
               minimized="false"
               relationship="stack"
               relative="com.gcsf.books.view.stack.list"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.gcsf.books.view.bookDetails"
               minimized="false"
               ratio="0.40f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.gcsf.books.gui.perspectives.ErrorViewPerspective">
         <view
               closeable="false"
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               moveable="false"
               ratio="0.9f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
